@import "tailwindcss";

@layer utilities {
    .gradient-lavender {
        background: linear-gradient(to bottom, #3F3351, #504066);
    }

    .gradient-indigo {
        background: linear-gradient(to bottom, #2D3A64, #3A4A7B);
    }

    .gradient-rose {
        background: linear-gradient(to bottom, #4B3C4E, #614A65);
    }

    .gradient-coral {
        background: linear-gradient(to bottom, #553841, #6A4450);
    }

    .gradient-teal {
        background: linear-gradient(to bottom, #254D4D, #346363);
    }

    .gradient-midnight {
        background: linear-gradient(to bottom, #1B2735, #2C3E50);
    }

    .gradient-ember {
        background: linear-gradient(to bottom, #4B1F1F, #652828);
    }

    .gradient-carbon {
        background: linear-gradient(to bottom, #1A1A1A, #2B2B2B);
    }

    .gradient-amethyst {
        background: linear-gradient(to bottom, #3D2F4F, #513A6B);
    }

    .gradient-bronze {
        background: linear-gradient(to bottom, #4D3A24, #6A4B30);
    }

    .gradient-slate {
        background: linear-gradient(to bottom, #2F3640, #454E5A);
    }

    .gradient-crimsonsoft {
        background: linear-gradient(to bottom, #5A1F1F, #1E1212);
    }

}

.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

/* From Uiverse.io by catraco */
.heart-container {
    --heart-color: rgb(255, 91, 137);
    position: relative;
    transition: .3s;
}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
}

.heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
}

@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
        filter: brightness(1.5);
    }
}

@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        display: none;
    }
}

.checkbox {
    position: absolute;
    inset: 0;
    /* top: 0; right: 0; bottom: 0; left: 0 */
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}